<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.rog/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.dsu.mapper.FnBClassificationsMapper">
<!-- DSU2019_Wedding_Backend 식음료분류 insert -->
	<insert id="insertFnBClassification" parameterType="fnBClassificationsVO">
		<!-- DSU2019_Wedding_Backend id 코드값 생성 -->
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select IFNULL(concat("KRBS",(SELECT LPAD((select RIGHT ((SELECT max(id) FROM fnbclassifications t), 6))+ 1, 6, "0"))),"KRBS000001")
		</selectKey>
		<!-- DSU2019_Wedding_Backend 식음료분류 insert sql-->
		insert INTO fnbclassifications (
			ID, EventClassificaition, ItemClassificationName, FnBclassifications.Order, UseStatus
		)VALUES(
			#{id}, #{eventClassificaition}, #{itemClassificationName}, #{order}, #{useStatus}
		);
	</insert>
	
	<!-- DSU2019_Wedding_Backend 식음료분류 리스트 조회-->
	<select id = "selectFnBClassifications" parameterType="fnBClassificationsVO" resultType="fnBClassificationsVO">
		<!-- DSU2019_Wedding_Backend 식음료분류 리스트 select sql -->
		    select * from fnbclassifications
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="id != null">						AND ID = #{id}</if>
				<if test="eventClassificaition != null">	AND EventClassificaition = #{eventClassificaition}</if>
				<if test="itemClassificationName != null">	AND ItemClassificationName = #{itemClassificationName}</if>
				<!-- if test="order != 0">					AND FnBclassifications.Order = #{order}</if-->
				<if test="useStatus != null">				AND UseStatus = #{useStatus}</if>
			</trim>
	</select>
	
		<!-- DSU2019_Wedding_Backend 식음료분류 단일 조회-->
	<select id = "selectFnBClassification" parameterType="fnBClassificationsVO" resultType="fnBClassificationsVO">
		<!-- DSU2019_Wedding_Backend 식음료분류 리스트 select sql -->
		    select * from fnbclassifications where ID = #{id}
	</select>

	<update id="updateFnBClassification" parameterType="fnBClassificationsVO">
		<!-- DSU2019_Wedding_Backend 식음료분류 update sql 작성 -->
	update fnbclassifications
		<trim prefix="SET" suffixOverrides=",">
				<if test="eventClassificaition != null">	EventClassificaition = #{eventClassificaition},</if>
				<if test="itemClassificationName != null">	ItemClassificationName = #{itemClassificationName},</if>
				<if test="order != 0">						FnBclassifications.Order = #{order},</if>
				<if test="useStatus != null">				UseStatus = #{useStatus},</if>
		</trim>
		where id = #{id};
	</update>

	<delete id="deleteFnBClassification" parameterType="fnBClassificationsVO">
		<!-- DSU2019_Wedding_Backend 식음료분류 단일 삭제 delte sql 작성 -->
		delete from fnbclassifications 
		where id = #{id}
	</delete>

</mapper>