<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.rog/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.dsu.mapper.MenuMapper">
<!-- DSU2019_Wedding_Backend 메뉴 insert -->
	<insert id="insertMenu" parameterType="menuVO">
		<!-- DSU2019_Wedding_Backend id 코드값 생성 -->
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select IFNULL(concat("KRBS",(SELECT LPAD((select RIGHT ((SELECT max(id) FROM menu t), 6))+ 1, 6, "0"))),"KRBS000001")
		</selectKey>
		<!-- DSU2019_Wedding_Backend 메뉴 insert sql-->
		insert INTO menu (
			ID, EventClassification, MenuName, AdultCharge, ChildCharge, Memo
		)VALUES(
			#{id}, #{eventClassification}, #{menuName}, #{adultCharge}, #{childCharge}, #{memo}
		);
	</insert>
	
	<!-- DSU2019_Wedding_Backend 메뉴 리스트 조회-->
	<select id = "selectMenus" parameterType="menuVO" resultType="menuVO">
		<!-- DSU2019_Wedding_Backend 메뉴 리스트 select sql -->
		    select * from menu
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="eventClassification != null">	AND eventClassification = #{eventClassification} </if>
				<if test="menuName != null">			AND menuName 			= #{menuName} </if>
				<!-- if test="adultCharge != null">			AND adultCharge 		= #{adultCharge} </if -->
				<!-- if test="childCharge != null">			AND childCharge 		= #{childCharge} </if -->
				<if test="memo != null">				AND memo 				= #{memo} </if>
			</trim>
	</select>
	
		<!-- DSU2019_Wedding_Backend 메뉴 단일 조회-->
	<select id = "selectMenu" parameterType="menuVO" resultType="menuVO">
		<!-- DSU2019_Wedding_Backend 메뉴 리스트 select sql -->
		    select * from menu where ID = #{id}
	</select>

	<update id="updateMenu" parameterType="menuVO">
		<!-- DSU2019_Wedding_Backend 메뉴 update sql 작성 -->
	update menu
		<trim prefix="SET" suffixOverrides=",">
			<if test="eventClassification != null">	eventClassification = #{eventClassification}, </if>
			<if test="menuName != null">			menuName 			= #{menuName}, </if>
			<if test="adultCharge != null">			adultCharge 		= #{adultCharge}, </if>
			<if test="childCharge != null">			childCharge 		= #{childCharge}, </if>
			<if test="memo != null">				memo 				= #{memo}, </if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteMenu" parameterType="menuVO">
		<!-- DSU2019_Wedding_Backend 메뉴 단일 삭제 delte sql 작성 -->
		delete from menu 
		where id = #{id}
	</delete>

</mapper>