<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.rog/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.dsu.mapper.OrderListMapper">
	<!-- DSU2019_Wedding_Backend_1.1 발주 내역 insert -->
	<insert id="insertOrderList" parameterType="orderListVO">
		<!-- DSU2019_Wedding_Backend_1.1.1 코드값 생성 -->
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT CONCAT(#{contractCustomers_ID},(SELECT LPAD(SUBSTRING((SELECT IFNULL((SELECT MAX(id) FROM orderlist a WHERE id LIKE (SELECT CONCAT(#{contractCustomers_ID}, '%'))), #{contractCustomers_ID})), 11, 13) + (1), 2, '0'))) AS id
		</selectKey>
		<!-- DSU2019_Wedding_Backend_1.1.2 insert sql 작성 -->
		insert INTO orderlist (
			ID, ContractCustomers_ID, ItemsOfClients_ID, ItemClassification, ItemName, SupplyPrice, Memo, ReverseOrderDate, SettlementState, SettlementDate
		)VALUES(
			#{id}, #{contractCustomers_ID}, #{itemsOfClients_ID}, #{itemClassification}, #{itemName}, #{supplyPrice}, #{memo}, #{reverseOrderDate}, #{settlementState}, #{settlementDate}
		);
	</insert>
	<!-- DSU2019_Wedding_Backend 발주 내역 리스트 조회-->
	<select id = "selectOrderList" parameterType="orderListVO" resultType="orderListVO">
		<!-- DSU2019_Wedding_Backend 발주 내역 리스트 select sql -->
		    select * from orderlist
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test = "id != null">					AND ID = #{id}</if>
				<if test = "contractCustomers_ID != null">	AND ContractCustomers_ID = #{contractCustomers_ID}</if>
				<if test = "itemsOfClients_ID != null">		AND ItemsOfClients_ID = #{itemsOfClients_ID}</if> 
				<if test = "itemClassification != null">	AND ItemClassification = #{itemClassification}</if>
				<if test = "itemName != null">				AND ItemName = #{itemName}</if>
				<if test = "supplyPrice != 0">				AND SupplyPrice = #{supplyPrice}</if>
				<if test = "memo != null">					AND Memo = #{memo}</if>
				<if test = "reverseOrderDate != null">		AND ReverseOrderDate = #{reverseOrderDate}</if>
				<if test = "settlementState != null">		AND SettlementState = #{settlementState}</if>
				<if test = "settlementDate != null">		AND SettlementDate = #{settlementDate}</if>
			</trim>
	</select>

	<update id="updateOrderList" parameterType="orderListVO">
		<!-- DSU2019_Wedding_Backend 발주 내역 update sql 작성 -->
	update orderlist
		<trim prefix="SET" suffixOverrides=",">
			<if test = "id != null">					ID = #{id},</if>
			<if test = "contractCustomers_ID != null">	ContractCustomers_ID = #{contractCustomers_ID},</if>
			<if test = "itemsOfClients_ID != null">		ItemsOfClients_ID = #{itemsOfClients_ID},</if> 
			<if test = "itemClassification != null">	ItemClassification = #{itemClassification},</if>
			<if test = "itemName != null">				ItemName = #{itemName},</if>
			<if test = "supplyPrice != 0">				SupplyPrice = #{supplyPrice},</if>
			<if test = "memo != null">					Memo = #{memo},</if>
			<if test = "reverseOrderDate != null">		ReverseOrderDate = #{reverseOrderDate},</if>
			<if test = "settlementState != null">		SettlementState = #{settlementState},</if>
			<if test = "settlementDate != null">		SettlementDate = #{settlementDate},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteOrderList" parameterType="orderListVO">
		<!-- DSU2019_Wedding_Backend 발주 내역 단일 삭제 delte sql 작성 -->
		delete from orderlist 
		where id = #{id}
	</delete>
</mapper>